body {
    background: #4fc3f7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h3,
h5 {
    font-weight: 600;
}

i {
    font-weight: 300;
}

.seminarie {
    color: #fff;
    background: #424242;
    cursor: pointer;
}

/* Toast */
.toast {
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Override bootstrap button: */
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: #039be5 !important;
}

.btn-primary:hover {
    background-color: #0288d1 !important;
}
